body {
  color: #222;
  letter-spacing: 1px;
}

a {
  color: #8238a7;
}

p, body .main_footer,
.s_about li {
  color: #888;
}

.color_element {
  color: #8238a7;
}

.color_bg {
  background-color: #8238a7;
}

.color_border {
  border-color: #8238a7;
}

.bg_light {
  background-color: #FAFAFA;
}

.bg_dark {
  background-color: #222;
  color: #FFF;
}

.bg_dark .s_descr_wrap .s_descr::after {
  background-color: #FFF;
}

.bg_dark a {
  color: #FFF;
}

.toggle_mnu {
  background-color: #222;
}

.top_mnu a {
  letter-spacing: 4px;
}

.top_mnu a:hover {
  color: #8238a7;
}

.top_text p {
  color: #FAFAFA;
  letter-spacing: 5px;
}

.s_descr_wrap .s_descr {
  letter-spacing: 5px;
}

.s_descr_wrap .s_descr::after {
  background-color: #222;
}

section h3 {
  letter-spacing: 5px;
  color: #888;
}

.s_about p:nth-child(odd) {
  color: #8238a7;
}

.personal_header {
  letter-spacing: 2px;
  color: #666;
}

.social_wrap li {
  display: inline-block;
  font-size: 20px;
  padding: 0 3px;
}

.resume_container h3 {
  color: #222;
  letter-spacing: 8px;
  font-size: 16px;
  font-weight: 400;
}

.resume_container .resume_item {
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.resume_container .resume_item .year {
  background-color: #8238a7;
  font-weight: 600;
  font-style: italic;
  color: #fff;
}

.resume_container .resume_item .resume_description {
  font-style: italic;
}

.s_portfolio li {
  color: #888;
  letter-spacing: 2px;
}

.s_portfolio li.active {
  color: #FFF;
  border-bottom: 1px solid #8238a7;
}

.s_portfolio .portfolio_item .portfolio_item_content h3 {
  color: #FFF;
}

.s_portfolio .portfolio_item .portfolio_item_content a {
  border: solid 1px #8238a7;
  color: #8238a7;
}

.main_footer .social_wrap a {
  color: #8238a7;
}

.contact_container .contact_icon, .contact_container a {
  color: #8238a7;
}

.contact_container h3 {
  letter-spacing: 1px;
}

.contact_container span.color_element {
  color: #8238a7;
  font-size: 18px;
}

.text-danger {
  color: #8238a7;
}

form .form-group {
  letter-spacing: 2px;
  color: #888;
}

form input:focus, form textarea:focus {
  border: 1px solid #8238a7;
}

form input, form textarea {
  letter-spacing: 2px;
}

form input[type="submit"] {
  border: none;
  background-color: #8238a7;
  color: #FFF;
  letter-spacing: 2px;
}
